body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: grey;

}

.header {
    background-image: url("/static/logo.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10em 0em;
    border-radius: .5em;
    margin-top: 1em;
}

.content {
    background: white;
    padding: 1.5em 2em;
    border-radius: .5em;
    margin-top: 1em;
}

.login {
    padding: 0.5em;
    background: lightgrey;
    border-radius: .5em;
    display: grid;
    max-width: 15em;
    grid-template-columns: 5em 10em;
}

#button1 {
    
    padding:5px;
    border: none;
    text-align: center;
    width: 15.5em;
    background: grey;
    border-radius: 0.5em;
    margin-top: 0.5em;

}

.button2 {
    
    padding:5px;
    border: none;
    text-align: center;
    width: 15.5em;
    background: grey;
    border-radius: 0.5em;
    margin-top: 0.5em;

}

#button1:hover {
    background-color: rgb(226, 226, 226);
}

.button2:hover {
    background-color: rgb(226, 226, 226);
}
nav li {
    padding: 1em 0em;
    display: inline-block;
    background: lightgrey;
    text-align: center;
    margin: .2em;
    border-radius: .5em;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li:hover {
    background-color: rgb(226, 226, 226);
}

nav ul {
    padding: 0;
}






