{% extends "layout.html" %}
{% block title %}Käyttäjähallinta{% endblock %}
{% block content %}
    {% if session.user_id %}
    <p>Voit poistaa käyttäjän järjestelmästä tai asettaa käyttäjän ylläpitäjäksi.<br>
    Huomioi, että poistettaessa myös käyttäjän tilastot tuhotaan.<br>
    Et voi poistaa käyttäjää, jolla on ylläpitäjän oikeudet.</p>
    Sovellukseen rekisteröityneet käyttäjät:
    <br>
    <hr>
    <form action="/administrate" method="POST">
        {% for user in users %}
        {% if user[2] == True %}
        <input type="radio" name="user" value="{{ user[0] }}" disabled> {{ user[1] }} (ylläpitäjä)<br>
        {% else %}
        <input type="radio" name="user" value="{{ user[0] }}"> {{ user[1] }}<br>
        {% endif %}
        {% endfor %}
        <hr>
        <select name="action">
            <option value="default">-- Valitse toiminto --</option>
            <option value="delete">Poista käyttäjä</option>
            <option value="admin">Aseta ylläpitäjäksi</option>
        </select>
        <input type="submit" value="Suorita">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>
    <a href="/">Takaisin etusivulle</a> 
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %} 
{% endblock %}