<!DOCTYPE html>
<html lang="fi">
<head>
    <link rel='stylesheet' href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tietovisa - virhe</title>
</head>
<body>
  <div class="header">
  </div>
  <div class="content">
    <h3>{{ random_message }}</h3>
    {% if session.user_id %}
        <p>
          {{ error_message }}
        </p>
        
        <a href="/">Takaisin etusivulle</a>
    {% else %}
        <p>
            {{ error_message }}
        </p>
    
        <a href="/login">Yritä uudestaan</a>
    {% endif %}
    
</div>
</body>
</html>