<!DOCTYPE html>
<html lang="fi">
<head>
  <link rel='stylesheet' href="static/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tietovisa - Etusivu</title>
</head>
<body>
  <div class="header">
  </div>
  <div class="content">
  <p> 
  {% if session.user_id %}
  Olet kirjautunut sisään, {{session.username}}.</p>
  <p>Olit kaikkien aikojen <b>{{session.ordinal}}</b> sovellukseen rekisteröitynyt käyttäjä!</p>
  <p>Sovelluksessa on tällä hetkellä yhteensä {{ all }} visaa.
  {% if available == 1 %}
  On vielä yksi visa, johon et ole vastannut:</p>
  <nav>
    <ul>
      {% for quiz in visible %}
      <li><a href="/quiz/{{ quiz[1] }}">{{ quiz[0]}}</a></li>
      <br>
      {% endfor %}
    </ul>
  
  </nav>
  {% elif available > 1  %}
  On vielä {{ available }} visaa, joihin et ole vastannut:
  <nav>
    <ul>
      {% for quiz in visible %}
      <li><a href="/quiz/{{ quiz[1] }}">{{ quiz[0]}}</a></li>
      <br>
      {% endfor %}
    </ul>
  
  </nav>
  {% else %}
  Olet jo vastannut niihin kaikkiin! Kiitos, uusia visoja tulossa myöhemmin.
  <br>
  {% endif %}
  <br>
  {% if session.admin == True %}
  <a href="/draft">Luo uusi kysely</a><br>
  {% endif %}
  <br>
  <a href="/logout">Kirjaudu ulos</a>
  {% else %}
  <a href="/login">Kirjaudu sisään</a>
  {% endif %}
</div>
</body>
</html>
