{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
  {% if session.user_id %}
  <p>Olet kirjautunut sisään, {{session.username}}.</p>
  {% if session.admin == True %}
  <b>Use the Force</b><br>(Omaat ylläpidon oikeudet)
  {% endif %}
  <p>Sovelluksessa on tällä hetkellä yhteensä {{ all }} visaa.<br>
  {% if available == all %}</p>
  <nav>
    <ul>
      {% for quiz in visible %}
      <li><a href="/quiz/{{ quiz[1] }}">{{ quiz[0]}}</a></li>
      <br>
      {% endfor %}
    </ul>  
  </nav>
  {% elif available == 1 %}
  On vielä yksi visa, johon et ole vastannut:</p>
  <nav>
    <ul>
      {% for quiz in visible %}
      <li><a href="/quiz/{{ quiz[1] }}">{{ quiz[0]}}</a></li>
      <br>
      {% endfor %}
    </ul>
  </nav>
  {% elif available > 1  %}
  On vielä {{ available }} visaa, joihin et ole vastannut:
  <nav>
    <ul>
      {% for quiz in visible %}
      <li><a href="/quiz/{{ quiz[1] }}">{{ quiz[0]}}</a></li>
      <br>
      {% endfor %}
    </ul>
  </nav>
  {% else %}
  Olet jo vastannut niihin kaikkiin!
  <br> 
  Kiitos, uusia visoja tulossa myöhemmin.
  <br>
  {% endif %}
  {% if session.admin == True %}
  <p><a href="/draft">Luo uusi kysely</a></p>
  <p><a href="/administration">Hallinnoi käyttäjiä</a></p>
  {% endif %}
  <p><a href="/stats">Tarkastele tilastoja</a></p>
  <a href="/logout">Kirjaudu ulos</a>
  {% else %}
  <a href="/login">Kirjaudu sisään</a>
  {% endif %}
{% endblock %}