{% extends "layout.html" %}
{% block title %}Kirjaudu{% endblock %}
{% block content %}
{% if session.user_id %}
<p>Olet jo kirjautunut sisään.</p>
<a href="/">Takaisin etusivulle</a>
{% else %}
    <div class="login">
      <form action="/login" method="POST">
          <label for="username">Käyttäjätunnus:</label>
          <input type="text" name="username">
          <label for="password">Salasana:</label>
          <input type="password" name="password">
          <input id="button1" type="submit" value="Kirjaudu">
        </form>
    </div>
    <br>
    Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>.
{% endif %}
{% endblock %}
