{% extends "layout.html" %}
{% block title %}Uusi{% endblock %}
{% block content %}
{% if session.user_id %}
    <h3>{{ topic }}</h3>
    <i>Muista täyttää kaikki kohdat.</i>
    <br>
    <form action="/create" method="POST">
    {% for i in range(1, questions+1) %}
        <p>
        Kysymys numero {{ i }}:<br>
        <input type="text" name="question" size="40"><br>
        {% for j in range(1, choices+1) %}
            Vaihtoehto {{ j }}:<br>
            <input type="text" name="choice" size="25">
            <select name=correct>
            <option value=True> Tosi
            <option value=False selected> Epätosi
            </select>
            <br>
        {% endfor %}
        </p>
    {% endfor %}
    <input type="submit" value="Luo uusi visa">
    <input type="hidden" name="topic" value="{{ topic }}">
    <input type="hidden" name="choices" value="{{ choices }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>
    <a href="/">Takaisin etusivulle</a> 
{% else %}
    <a href="/login">Kirjaudu sisään</a>
{% endif %} 
{% endblock %}