{% extends "layout.html" %}
{% block title %}Rekisteröidy{% endblock %}
{% block content %}
{% if session.user_id %}
<p>Olet jo kirjatunut sisään.</p>
<a href="/">Takaisin etusivulle</a>
{% else %}
  <div class="login">
    <form action="/register" method="POST">
      <label for="username">Käyttäjätunnus:</label>
      <input type="text" name="username">
      <label for="password">Salasana:</label>
      <input type="password" name="password">
      <input id="button1" type="submit" value="Luo tunnus">
    </form>
  </div>
  <p>Käyttäjätunnuksen ja salasanan pituus kuuluu olla 3-15 merkkiä.</p>
  <a href="/">Takaisin etusivulle</a> 
{% endif %}
{% endblock %}