<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tietovisa - Rekisteröidy</title>
</head>
<body>
    <p>Käyttäjätunnuksen ja salasanan pituus kuuluu olla 1-15 merkkiä.</p>
    <br>

    <form action="/register" method="post">
        Käyttäjätunnus: <input type="text" name="username">
        <p>
        Salasana: <input type="password" name="password">
        <p>
        <input type="submit" value="Luo tunnus">
    </form>

    <a href="/">Takaisin etusivulle</a> 
</body>
</html>